<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
  <title>PyChat - Inicio</title>  
</head>
<body>
  <div class="container">
    <div class="contacts-panel">
      

      <div class="contacts-header">Contactos</div>
      <div class="contacts-list" id="contactsPanel">
        {% for user in users %}
          {% if user[0] != userId|int %}
            <div class="contact" onclick="window.location.href='/chat/{{user[0] }}?user2={{ userId[0]}}'">
              <div class="avatar"></div>
              <div class="contact-info">
                <div class="name">{{user[1]}}</div>
                <!-- <div class="last-message">Last message preview...</div> -->
              </div>
            </div>  
          {% endif %}
        {% endfor%}
      </div>
    </div>
    <div class="chat-container">
      <div class="chat-header" id="chatHeader">
        PyChat
      </div>
      <div class="chat-messages" id="chatMessages">
        {% for message in messages %}
        <div class="message {% if message[0] == userId|int %}sent{% else %}received{% endif %}">
            <div class="bubble">{{ message[1] }}</div>
        </div>
        {% endfor %}
    </div>
      <div class="chat-input">
        <form class="chat-form" method="post" > 
          <input type="hidden" name="current_url" value="{{ request.url }}">
          <input type="hidden" id="roomId" name="roomId" value="{{ roomId }}">
          <input type="hidden" id="userId" name="userId" value="{{ userId }}">                          
          <input type="text" id="chatInput" name="chatInput" placeholder="Type a message...">
          <button formaction="/sendMessage">Send</button>
           
        </form>
      </div>
    </div>
  </div>

  

</body>
</html>
