<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
  <title>Login</title>
</head>
<body>
  <div class="login-container">
    <div class="login-image"></div>
    <div id="loginForm" class="login-header">Formulario de registro</div>
    <form id="loginForm" class="login-form" method="post">
      <input type="text" name="email" placeholder="email" required>
      <input type="password" name="password"  placeholder="Contraseña" required>
      <input type="password" name="password2"  placeholder="Repetir la contraseña" required>
      <button type="submit" formaction="/register">Registrarse</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="error-message" id="error-message">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="forgot-password">
      <a href="/">¿Ya tienes una cuenta?</a>
    </div>
    


  <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>
